root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 2
trim_trailing_whitespace = true

# Disabled due to project specifics
dotnet_diagnostic.AsyncFixer02.severity = none # Long-running or blocking operations inside an async method
dotnet_diagnostic.CA1000.severity = none # Do not declare static members on generic types
dotnet_diagnostic.CA1001.severity = none # Types that own disposable fields should be disposable
dotnet_diagnostic.CA1005.severity = none # Avoid excessive parameters on generic types
dotnet_diagnostic.CA1008.severity = none # Enums should have zero value
dotnet_diagnostic.CA1010.severity = none # Generic interface should also be implemented
dotnet_diagnostic.CA1019.severity = none # Define accessors for attribute arguments
dotnet_diagnostic.CA1021.severity = none # Avoid out parameters
dotnet_diagnostic.CA1027.severity = none # Mark enums with FlagsAttribute
dotnet_diagnostic.CA1028.severity = none # Enum Storage should be Int32
dotnet_diagnostic.CA1030.severity = none # Use events where appropriate
dotnet_diagnostic.CA1031.severity = none # Do not catch general exception types
dotnet_diagnostic.CA1032.severity = none # Implement standard exception constructors
dotnet_diagnostic.CA1034.severity = none # Nested types should not be visible
dotnet_diagnostic.CA1040.severity = none # Avoid empty interfaces
dotnet_diagnostic.CA1043.severity = none # Use Integral Or String Argument For Indexers
dotnet_diagnostic.CA1044.severity = none # Properties should not be write only
dotnet_diagnostic.CA1045.severity = none # Do not pass types by reference
dotnet_diagnostic.CA1054.severity = none # URI-like parameters should not be strings
dotnet_diagnostic.CA1055.severity = none # URI-like return values should not be strings
dotnet_diagnostic.CA1056.severity = none # URI-like properties should not be strings
dotnet_diagnostic.CA1060.severity = none # Move pinvokes to native methods class
dotnet_diagnostic.CA1063.severity = none # Implement IDisposable Correctly
dotnet_diagnostic.CA1065.severity = none # Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1304.severity = none # Specify CultureInfo
dotnet_diagnostic.CA1305.severity = none # Specify IFormatProvider
dotnet_diagnostic.CA1307.severity = none # Specify StringComparison for clarity
dotnet_diagnostic.CA1308.severity = none # Normalize strings to uppercase
dotnet_diagnostic.CA1309.severity = none # Use ordinal string comparison
dotnet_diagnostic.CA1310.severity = none # Specify StringComparison for correctness
dotnet_diagnostic.CA1311.severity = none # Specify a culture or use an invariant version
dotnet_diagnostic.CA1501.severity = none # Avoid excessive inheritance
dotnet_diagnostic.CA1502.severity = none # Avoid excessive complexity
dotnet_diagnostic.CA1508.severity = none # Avoid dead conditional code
dotnet_diagnostic.CA1510.severity = none # Use ArgumentNullException throw helper
dotnet_diagnostic.CA1512.severity = none # Use ArgumentOutOfRangeException throw helper
dotnet_diagnostic.CA1513.severity = none # Use ObjectDisposedException throw helper
dotnet_diagnostic.CA1514.severity = none # Avoid redundant length argument
dotnet_diagnostic.CA1710.severity = none # Identifiers should have correct suffix
dotnet_diagnostic.CA1711.severity = none # Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1716.severity = none # Identifiers should not match keywords
dotnet_diagnostic.CA1720.severity = none # Identifier contains type name
dotnet_diagnostic.CA1721.severity = none # Property names should not match get methods
dotnet_diagnostic.CA1724.severity = none # Type names should not match namespaces
dotnet_diagnostic.CA1725.severity = none # Parameter names should match base declaration
dotnet_diagnostic.CA1806.severity = none # Do not ignore method results
dotnet_diagnostic.CA1810.severity = none # Initialize reference type static fields inline
dotnet_diagnostic.CA1815.severity = none # Override equals and operator equals on value types
dotnet_diagnostic.CA1819.severity = none # Properties should not return arrays
dotnet_diagnostic.CA1822.severity = none # Mark members as static
dotnet_diagnostic.CA1824.severity = none # Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1838.severity = none # Avoid 'StringBuilder' parameters for P/Invokes
dotnet_diagnostic.CA1841.severity = none # Prefer Dictionary.Contains methods
dotnet_diagnostic.CA1851.severity = none # Possible multiple enumerations of 'IEnumerable' collection
dotnet_diagnostic.CA1852.severity = none # Seal internal types
dotnet_diagnostic.CA1854.severity = none # Prefer the 'IDictionary.TryGetValue(TKey, out TValue)' method
dotnet_diagnostic.CA1860.severity = none # Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.CA1861.severity = none # Avoid constant arrays as arguments
dotnet_diagnostic.CA1862.severity = none # Use the 'StringComparison' method overloads to perform case-insensitive string comparisons
dotnet_diagnostic.CA1863.severity = none # Use 'CompositeFormat'
dotnet_diagnostic.CA1864.severity = none # Prefer the 'IDictionary.TryAdd(TKey, TValue)' method
dotnet_diagnostic.CA1866.severity = none # Use char overload
dotnet_diagnostic.CA1868.severity = none # Unnecessary call to 'Contains(item)'
dotnet_diagnostic.CA1871.severity = none # Do not pass a nullable struct to 'ArgumentNullException.ThrowIfNull'
dotnet_diagnostic.CA1872.severity = none # Prefer 'Convert.ToHexString' and 'Convert.ToHexStringLower' over call chains based on 'BitConverter.ToString'
dotnet_diagnostic.CA2000.severity = none # Dispose objects before losing scope
dotnet_diagnostic.CA2007.severity = none # Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2008.severity = none # Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2021.severity = none # Do not call Enumerable.Cast<T> or Enumerable.OfType<T> with incompatible types
dotnet_diagnostic.CA2022.severity = none # Avoid inexact read with 'Stream.Read'
dotnet_diagnostic.CA2100.severity = none # Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2101.severity = none # Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2119.severity = none # Seal methods that satisfy private interfaces
dotnet_diagnostic.CA2201.severity = none # Do not raise reserved exception types
dotnet_diagnostic.CA2213.severity = none # Disposable fields should be disposed
dotnet_diagnostic.CA2215.severity = none # Dispose methods should call base class dispose
dotnet_diagnostic.CA2227.severity = none # Collection properties should be read only
dotnet_diagnostic.CA2231.severity = none # Overload operator equals on overriding value type Equals
dotnet_diagnostic.CA2234.severity = none # Pass system uri objects instead of strings
dotnet_diagnostic.CA2263.severity = none # Prefer generic overload when type is known
dotnet_diagnostic.CA2265.severity = none # Do not compare Span<T> to 'null' or 'default'
dotnet_diagnostic.CA2326.severity = none # Do not use TypeNameHandling values other than None
dotnet_diagnostic.CA2327.severity = none # Do not use insecure JsonSerializerSettings
dotnet_diagnostic.CA5351.severity = none # Do Not Use Broken Cryptographic Algorithms
dotnet_diagnostic.CA5362.severity = none # Potential reference cycle in deserialized object graph
dotnet_diagnostic.CA5369.severity = none # Use XmlReader for 'XmlSerializer.Deserialize()'
dotnet_diagnostic.CA5372.severity = none # Use XmlReader for XPathDocument constructor
dotnet_diagnostic.CA5379.severity = none # Ensure Key Derivation Function algorithm is sufficiently strong
dotnet_diagnostic.CA5390.severity = none # Do not hard-code encryption key
dotnet_diagnostic.CA5392.severity = none # Use DefaultDllImportSearchPaths attribute for P/Invokes
dotnet_diagnostic.CA5401.severity = none # Do not use CreateEncryptor with non-default IV
dotnet_diagnostic.MA0002.severity = none # IEqualityComparer<string> or IComparer<string> is missing
dotnet_diagnostic.MA0006.severity = none # Use String.Equals instead of equality operator
dotnet_diagnostic.MA0015.severity = none # Specify the parameter name in ArgumentException
dotnet_diagnostic.MA0016.severity = none # Prefer using collection abstraction instead of implementation
dotnet_diagnostic.MA0023.severity = none # Add RegexOptions.ExplicitCapture
dotnet_diagnostic.MA0026.severity = none # Fix TODO comment
dotnet_diagnostic.MA0029.severity = none # Combine LINQ methods
dotnet_diagnostic.MA0031.severity = none # Optimize Enumerable.Count() usage
dotnet_diagnostic.MA0032.severity = none # Use an overload with a CancellationToken argument
dotnet_diagnostic.MA0040.severity = none # Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.MA0042.severity = none # Do not use blocking calls in an async method
dotnet_diagnostic.MA0045.severity = none # Do not use blocking calls in a sync method (need to make calling method async)
dotnet_diagnostic.MA0060.severity = none # The value returned by Stream.Read/Stream.ReadAsync is not used
dotnet_diagnostic.MA0075.severity = none # Do not use implicit culture-sensitive ToString
dotnet_diagnostic.MA0076.severity = none # Do not use implicit culture-sensitive ToString in interpolated strings
dotnet_diagnostic.MA0098.severity = none # Use indexer instead of LINQ methods
dotnet_diagnostic.MA0099.severity = none # Use Explicit enum value instead of 0
dotnet_diagnostic.MA0100.severity = none # Await task before disposing of resources
dotnet_diagnostic.MA0101.severity = none # String contains an implicit end of line character
dotnet_diagnostic.MA0107.severity = none # Do not use culture-sensitive object.ToString
dotnet_diagnostic.MA0109.severity = none # Consider adding an overload with a Span<T> or Memory<T>
dotnet_diagnostic.MA0110.severity = none # Use the Regex source generator
dotnet_diagnostic.MA0112.severity = none # Use 'Count > 0' instead of 'Any()'
dotnet_diagnostic.MA0127.severity = none # Use String.Equals instead of is pattern
dotnet_diagnostic.MA0134.severity = none # Observe result of async calls
dotnet_diagnostic.MA0136.severity = none # Raw String contains an implicit end of line character
dotnet_diagnostic.MA0155.severity = none # Do not use async void methods
dotnet_diagnostic.MA0158.severity = none # Use System.Threading.Lock
dotnet_diagnostic.MA0159.severity = none # Use 'Order' instead of 'OrderBy'
dotnet_diagnostic.MA0176.severity = suggestion # Optimize guid creation
dotnet_diagnostic.SA1305.severity = none # Field names should not use Hungarian notation
dotnet_diagnostic.SYSLIB0014.severity = none # WebRequest, HttpWebRequest, ServicePoint, WebClient are obsolete
dotnet_diagnostic.SYSLIB0057.severity = none # X509Certificate2 and X509Certificate constructors for binary and file content are obsolete
dotnet_diagnostic.VSTHRD002.severity = none # Avoid problematic synchronous waits
dotnet_diagnostic.VSTHRD111.severity = none # Use ConfigureAwait(bool)
MA0051.maximum_lines_per_method = 2670
MA0051.maximum_statements_per_method = 190

[{*.cs,*.cshtml}]
indent_size = 4
tab_width = 4

[{*.csproj,*.props,*.targets,*.slnx}]
ij_xml_keep_blank_lines = 1
ij_xml_space_inside_empty_tag = true

[{*.yaml,*.yml}]
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false

[*.md]
indent_size = 4
trim_trailing_whitespace = false
